fastapi
uvicorn
python-multipart
langchain
langchain-community
langchain-ollama
openai
requests
edge-tts
diffusers
transformers
accelerate
librosa
google-api-python-client
google-auth-oauthlib
google-auth-httplib2
boto3
python-dotenv
